<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.65.1.0" targetFramework="native" />
  <package id="boost_python3-vc141" version="1.65.1.0" targetFramework="native" />
  <package id="gtest" version="1.7.0" targetFramework="native" />
  <package id="python" version="3.6.6" targetFramework="native" />
  <package id="python-full-x86" version="3.6.6" targetFramework="native" />
</packages>